-e ./authorship
feedgen==1.0.0
pre-commit==3.5.*
Sphinx==7.1.2
sphinx-autobuild==2021.03.*
sphinx-notfound-page==1.0.4
sphinx-rtd-theme==3.0.1
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-mermaid==1.0.0
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib-spelling==8.0.0
