/* --- Foooter - Asteroid --------------------------------------------------- */

.wy-nav-content {
  position: relative;
  background-image: url("../images/footer.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 75%;
  min-height: 100vh;
}

.document {
  min-height: 500px;
  margin-bottom: 8rem;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 1rem;
  text-align: center;
  font-size: 80%;
  color: #222222;
}

/* --- Navigation / Sidebar ------------------------------------------------- */

/* title image */
.wy-side-nav-search {
  padding-top: 170px;
  background-image: url("../images/rocket.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-color: #222222;
  background-position-x: 1.8em;
}

/* nav aside */
.wy-menu-vertical {
  margin: 1rem 0;
}

/* header items */
.wy-menu-vertical > p {
  margin: 1rem;
  color: #999999;
}

/* header items - icon */
.wy-menu-vertical > p::before {
  content: url("../images/icn-rocket.svg");
  margin-left: -0.1618em;
  width: 30px;
  float: left;
  padding: 0.1618em;
}

/* menu items */
.wy-menu-vertical .toctree-l1 {
  color: #999999;
}

/* menu items - hover */
.wy-menu-vertical a:active {
  background-color: #e2001a;
  cursor: pointer;
  color: #fff;
}

/* search box */
.wy-side-nav-search input[type="text"] {
  border-color: #84000f;
}

/* make side navigation scrollable  */

.wy-nav-side,
.wy-side-scroll {
  display: flex;
  flex-direction: column;
  min-height: 0;
  flex-grow: 1;
}

.wy-menu-vertical {
  overflow: auto;
  scrollbar-color: #999 #222;
}

.wy-menu-vertical::-webkit-scrollbar {
  width: 12px;
}

.wy-menu-vertical::-webkit-scrollbar-track {
  background: #222;
}

.wy-menu-vertical::-webkit-scrollbar-thumb {
  background-color: #999;
  border: 3px solid rgba(0, 0, 0, 255);
  border-radius: 20px;
}

/* --- Main Page ------------------------------------------------------------ */

/* Index - Atomium Logo */
.rst-content .document img[src="_images/atom.svg"] {
  float: right;
  width: 30%;
  height: 30%;
  shape-outside: url(/_images/atom.svg);
  shape-margin: 1em;
}

/* Article - logo box */
.sidebar + .section > .section:first-of-type > div {
  max-width: 55%;
}

.sidebar img {
  max-height: 150px;
}

/* --- Hall of Fame --------------------------------------------------------- */

#hall-of-fame .hof__list,
#hall-of-fame .hof__entry {
  list-style: none !important;
  margin: 0;
  padding: 0;
}

/* HOF Entry */

#hall-of-fame .hof__entry {
  display: grid;
  grid-template-columns: 1fr 11fr;
  grid-template-rows: auto;
  grid-template-areas:
    "score author"
    "score guides";
  margin-bottom: 2.5rem;
}

/* HOF Entry: Score */

#hall-of-fame .hof__counter {
  grid-area: score;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}

/* HOF Entry: Author */
#hall-of-fame .hof__author {
  grid-area: author;
  font-size: 120%;
  margin-bottom: 0.5rem;
}

/* HOF Entry: Guides */
#hall-of-fame .hof__guides {
  grid-area: guides;
  background: url(../images/icn-rocket.svg) NO-REPEAT;
  padding-left: 2rem;
}

#hall-of-fame .hof__guide_list {
  padding: 0;
}

/* HOF Entry: Guides Entry */

#hall-of-fame .hof__guide {
  display: inline;
}

#hall-of-fame .hof__guide:not(:last-child):after {
  content: ", ";
}

/* HOF styles */

#hall-of-fame .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 45px;
  height: auto;
  padding: 0.5rem;
  margin: 0;
  background-color: #b3b3b3;
  color: #404040;
  border-radius: 50%;
  font-size: 160%;
  font-weight: bold;
}

#hall-of-fame .author {
  font-weight: bolder;
}

#hall-of-fame .autolink:before {
  content: "<";
}

#hall-of-fame .autolink:after {
  content: ">";
}

/* --- Taglist -------------------------------------------------------------- */

.taglist .tag {
  display: inline-block;
}

.taglist {
  margin-top: -1.3em;
  margin-bottom: 0.83em;
}

.tagguides {
  display: flex;
  flex-wrap: wrap;

  margin-left: -0.5em;
  margin-right: -0.5em;
}

.tagguides a {
  margin: 0.5em;
  font-size: 1.2em;
}

/* --- Misc ----------------------------------------------------------------- */

/* remove paddings for highlights */
.rst-content .highlighted {
  padding: 0;
}

/* re-enabel list-style */
blockquote .rst-content ul {
  padding: 0;
}
.rst-content ul {
  padding: 1rem;
}
.rst-content ul li {
  list-style: disc;
}
