/* footer */
.wy-nav-content {
  position: relative;
  background-image: url("../images/footer.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 75%;
  min-height: 100vh;
}

.document {
  min-height: 500px;
  margin-bottom: 8rem;
}

footer {
  position: absolute;
  bottom:0;
  left: 0;
  right: 0;
  padding-bottom: 1rem;
  text-align: center;
  font-size: 80%;
  color: #222222;
}

/* navigation */
.wy-side-nav-search {
  padding-top: 170px;
  background-image: url("../images/rocket.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-color: #222222;
  background-position-x: 1.8em;
}

.wy-menu-vertical a:active {
  background-color: #e2001a;
  cursor: pointer;
  color: #fff;
}

.wy-menu-vertical header, .wy-menu-vertical p.caption :first-child::before {
  content: url("../images/icn-rocket.svg");
  margin-left: -.1618em;
  width: 30px;
  float: left;
  padding: .1618em;
}

.wy-menu-vertical header, .wy-menu-vertical p.caption {
  margin-top: .809em;
  color:  #999999;
}

.wy-menu-vertical header, .wy-menu-vertical ul.toctree-l1 {
  margin-top: .809em;
  color:  #999999;
}

nav li {
  padding-left: 10px;
}

/* search box */
.wy-side-nav-search input[type=text] {
  border-color: #84000f;
}

/* logo box */
.sidebar + .section > .section:first-of-type > div {
  max-width: 55%;
}

.sidebar img {
  max-height: 150px;
}

/* Main Page - Atomium */
.rst-content .document img[src='_images/atom.svg'] {
    float: right;
    width: 30%;
    height: 30%;
    shape-outside: url(/_images/atom.svg);
    shape-margin: 1em;
}

/* Hall of Fame */

#hall-of-fame ol,
#hall-of-fame ol li {
    list-style: none !important;
    margin: 0;
    padding: 0;
}

#hall-of-fame ol > li {
    display: grid;
    grid-template-columns: 1fr 11fr;
    grid-template-rows: auto;
    grid-template-areas:
        "score author"
        "score guides";
    margin-bottom: 1.5rem;
}

#hall-of-fame ol > li > div:first-child {
    grid-area: score;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hall-of-fame ol > li > div:not(:first-child) {
    grid-area: author;
    margin-left: 1rem;
    font-size: 120%;
}

#hall-of-fame ol > li > ul {
    grid-area: guides;
    margin-left: 1rem;
}

#hall-of-fame ol > li > ul:before {
    content: '→ ';
}

#hall-of-fame ol > li > ul > li {
    display: inline;
}

#hall-of-fame ol > li > ul > li:not(:last-child):after {
    content: ', ';
}

#hall-of-fame .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: .4em;
    margin: 0;
    background-color: #b3b3b3;
    color: #404040;
    border-radius: 50%;
    font-size: 160%;
    font-weight: bold;
}

#hall-of-fame .author {
    font-weight: bolder;
}
